.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background: #fff;
	width: 15rem;
	padding: 0.5rem 0.75rem;
}

.save {
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--light-grey1);
}

.save .close-btn {
	background: transparent;
	border: 0;
	font-size: 1.25rem;
	color: var(--midgrey);
}

.save .close-btn:hover {
	color: var(--textgrey);
}

.library-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--light-grey1);
}

.library {
	padding: 0.5rem 0.5rem 0 0;
}

.new_playlist {
	padding: 0.5rem 0;
}

.create-btn {
	width: 100%;
	padding: 0.5rem 0;
	background: transparent;
	border: 0;
	font-size: 1rem;
	color: var(--purple);
}

.checkbox {
	margin-right: 1rem;
}

.plus {
	margin-right: 1rem;
}

.create-btn:hover {
	background: var(--lightpurple);
}

.new-playlist__input {
	padding: 0.5rem 0.5rem 0.25rem 0.5rem;
	width: 14rem;
	border: 0;
	border-bottom: 2px solid var(--light-grey1);
	/* margin-bottom: 0.75rem; */
	outline: none;
}
.new-playlist__input:focus {
	border-bottom: 2px solid var(--midgrey);
}

.form__create-btn {
	background: transparent;
	border: none;
	font-weight: 1000;
	color: var(--purple);
	margin-top: 0.75rem;
}

.create-btn-container {
	display: flex;
	justify-content: flex-end;
}

.error {
	font-size: 0.65rem;
	text-align: left;
	color: var(--purple);
}
