.main-video-page {
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: 4rem;
}

@media screen and (min-width: 900px) {
	.main-video-page {
		margin: 0 1rem;
		margin-left: 5rem;
		grid-template-columns: 1.25fr 0.5fr;
		grid-gap: 2rem;
	}
}
