.main-video-page {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 900px) {
  .main-video-page {
    margin: 0 3rem;
    grid-template-columns: 1.25fr 0.5fr;
    grid-gap: 2rem;
  }
}
