.login-container {
	width: 100%;
	max-width: 25rem;
	margin: auto;
	margin-top: 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 1rem;
	padding: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 60vh;
	background: #fff;
}

.login-title {
	margin-bottom: 2rem;
}

.login-container .btn {
	width: 100%;
	margin-bottom: 0.5rem;
}

.input-group {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 1rem;
}

.input-group .input-area {
	box-sizing: border-box;

	padding: 0.75rem 0.5rem;
	width: 100%;
	z-index: 3;
}

.login-btn__container {
	width: 100%;
}

.underline {
	text-decoration: underline;
}

.danger-alert {
	background: #fff;
}

.alert div {
	margin-right: 0.5rem;
}

.alert span {
	font-weight: 1000;
}

.red-txt {
	color: var(--darkred);
	font-weight: 1000;
}

@media screen and (min-width: 900px) {
	.login-container {
		height: 80vh;
	}
}
