.video__card {
  width: 100%;
  /* cursor: pointer; */
  transition: all 0.2s ease-in-out;
  z-index: 4;
}

.card__img {
  width: 100%;
}

.card__img img {
  width: 100%;
}

.video-card__description {
  padding: 0.5rem 0;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.video-card__profile-pic {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 2.5px solid var(--darkred);
  padding: 0.1rem;
}

.video-card__txt {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 1rem;
}

.txt__title {
  font-weight: 1000;
  font-size: 1rem;
  text-align: justify;
}

.grey-txt {
  color: var(--midgrey);
}

.video-card__description .btn-icon {
  /* padding-right: 0.5rem; */
  width: 2.5rem;
  height: 1.75rem;
  color: var(--midgrey);
  text-align: center;
}

/* .video-card__description .btn-icon:hover {
  background: var(--light-grey1);
} */

.fa-ellipsis-v {
  font-size: 1.25rem;
}

@media only screen and (min-width: 750px) {
  .video-card__description {
    height: 6.5rem;
  }
  .video__card:hover {
    transform: scale(1.05);
  }
}
