.videoListing-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .videoListing-grid {
    margin: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
  }
}

@media only screen and (min-width: 900px) {
  .videoListing-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.75rem;
    grid-row-gap: 2rem;
  }

  @media only screen and (min-width: 1250px) {
    .videoListing-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
