.stacked-list {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;

  position: relative;
}

/* .margin-left-4 {
  margin-left: 0;
} */

@media only screen and (min-width: 900px) {
  .margin-left-4 {
    margin-left: 4rem;
  }
}
